.jumbotron {
	padding-top: 7px;
	padding-bottom: 0px;
	margin-bottom: 40px;
	background-color: #3caf5b;
	border-radius: 0px;
}

.btn-group-lg > .btn-primary {
	color: Black;
	background-color: #f1e4d5;
	border-color: #f1e4d5;
	border-radius: 0px;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #3caf5b;
  border-color: #3caf5b;
}
.btn-primary:hover {
  color: #fff;
  background-color: #3caf5b;
  border-color: #3caf5b;
}

.btn-group-lg > .btn-default {
  color: Black;
  background-color: #25b03f;
  border-color: #25b03f;
  border-radius: 0px;
}
.btn-default:focus,
.btn-default.focus {
  color: #fff;
  background-color: #3caf5b;
  border-color: #3caf5b;
}
.btn-default:hover {
  color: #fff;
  background-color: ##2b6032;
  border-color: #2b6032;
}


